.section-1 {
    background-image: url(../images/bol-végé.jpeg);
    height: 866px;
    background-size: cover; /* pour couvrir toute la zone */
    background-position: center center; /* pour centrer l'image */
}

.section-1 .container-1 {
    display: flex;
    flex-direction: column;
    margin: 0px 380px;
}

.section-1 .container-2 {
    margin: 75px 530px 0px 0px;
    padding: 30px;
}

 .circle h2 {
    margin: 10px 20px 0px;
    font-size: 3.75rem;
}

.section-1 .circle h6 {
    display: flex;
    margin: 10px 25px 0px 25px;
    font-size: 18px;
    color: #000;
    width: 120px;
}

.circle {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    display: inline-block;
    padding: 30px 22px;
    background-color: #99e54d; 
    border-radius: 50%;     
}

.section-1 h6 {
    margin-top: 20px;
    font-size: 18px;
    color: white;
}
.section-1 h1 {
    font-size: 60px;
    color: white;
    margin: 21px 60px 0 0;
}

.section-1 p {
    color: white;
    margin: 21px 150px 0 0;
    font-size: 18px;
}

.section-1 p a {
    color: #99e54d;
}

